html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

img{
    width: 100%;
}

header{
    display: flex;
    width: ;
    
}
.container{
    background-color: #465B75;
    flex-basis: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-container{
    list-style: none;
    margin-top: 2rem;
    margin-right: 8rem;
}

.nav-items{
    text-decoration: none;
    margin-right: 2rem;
    color: white;
}
.header-nav{
    margin-right: 1;
}

.nav-items{
    margin-left: 1rem;
}

.header-img{
    display: flex;
    flex-direction: column;
    margin: auto 10rem;
}

.header-img h1{
    text-align: center;
    color: white;
}

main{
    display: flex;
    justify-content: center;
    background-color: #dee9f7;
    margin-top: 1rem;
    align-items: flex-start;
}





/* INICIO ASIDE */
aside{
    background-color: #ffffff;
    flex-basis: 20%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    border: .1rem solid #6A6F75;
    padding: 2rem;
    /* max-height: 55rem; */
}

aside legend{
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 2rem;
}

select{
    margin-bottom: 1.5rem;
    background-color: rgb(218, 216, 216);
    border-radius: 1rem;
    padding: .5rem;
}
input{
    border-radius: 1rem;
    background-color: rgb(218, 216, 216);
    padding: .5rem;
}



/* FIN ASIDE */



/* INICIO CARDS */
article{
    background-color: #ffffff;
    flex-basis: 60%;
    margin-top: 5rem;
    margin-left: 1rem;
    border: .1rem solid #6A6F75;
    padding: 2rem;
}
article h2{
    margin-left: 2rem;
}
.notebooks-container{
    margin: 0 2rem;
}
.cards-container{
    display: flex;   
    flex-wrap: wrap;
    
}
.card{
    flex: 0 0 33.3%;
    box-sizing: border-box;
    padding: 2.4rem;
}
.card h3{
    color: #000000;
}
.card a{
    text-decoration: none;
}
.card span{
    font-weight: bold;
    font-size: 1.8rem;
}
.card p{
    margin-top: .2rem;
}

.precio{
    font-size: 3rem;
    font-weight: bold;
    color: #ff6347;
}


/* FIN CARDS */

/* INICIO FOOTER */

footer{
    background-color: #333333;
    color: white;
    display: flex;
    justify-items: center;
}

.footer-items{
    flex-basis: 33.3%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
}
footer span{
    font-weight: bold;
    font-size: 1.8rem;
    border-bottom: solid .1rem white;
    border-width: ;
    display: flex;
    width: 32rem;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* FIN FOOTER */